---
import SiteLayout from "../layouts/SiteLayout.astro";

import Block from "../components/Block.astro";
import ProjectList from "../components/projects/ProjectList.astro";

import { getProjectsPage } from "../cms/queries";

const projectsPage = await getProjectsPage();
const { projects, pageHeader, pageTitle, description, pageBody } = projectsPage;

export const prerender = true;
---

<SiteLayout title={pageTitle} description={description}>
  <h1 class="text-2xl">
    {pageHeader || pageTitle}
  </h1>
  <Block class="pt-1 pb-6" value={pageBody} />

  <ProjectList projects={projects} />
</SiteLayout>
