---
import Layout from '../layouts/BlogPost.astro';

import { getProjects } from '../cms/queries';

const projects = await getProjects();

export const prerender = true;
---

<Layout
	title="Projects"
	summary="Projects that I've enjoyed working on."
	publishedAt="August 20 2023"
>
  <h1 class="text-xl">Projects</h1>
	<ul>
    { projects.map(project => (
      <li>
        <a href={project.url}>{project.name}</a>
      </li>
    ))}
	</ul>
</Layout>
