@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-body: 250, 235, 215;

  font-family: "Poppins", sans-serif;

  /* tailwind orange-500 */
  --color-text-link: 249, 115, 22;

  --color-primary-50: 255 247 237;
  --color-primary-100: 255 237 213;
  --color-primary-200: 254 215 170;
  --color-primary-300: 253 186 116;
  --color-primary-400: 251 146 60;
  --color-primary-500: 249 115 22;
  --color-primary-600: 234 88 12;
  --color-primary-700: 194 65 12;
  --color-primary-800: 154 52 18;
  --color-primary-900: 124 45 18;
  /* tailwind orange-500 */
  --color-primary-main: 249 115 22;

  /* base font-size 1px larger for better visibility */
  font-size: 1.0625em;
  line-height: 1.75;
}

@layer components {
  body {
    background-color: rgb(var(--bg-body));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Anybody", sans-serif;
  }

  /* a:not(.unset) {
    text-decoration: none;
    color: var(--color-text-link);
  } */
}
