---
import Block from "./Block.astro";
import Socials from "./Socials.astro";

import type { Social } from "../cms/types";

type Props = {
  text: any;
  socials: Social[];
};

const { text, socials } = Astro.props;
---

<footer class="py-6 flex gap-1" id="footer">
  <div class="grow">
    <Block class="text-xs md:text-sm" value={text} />
  </div>
  <Socials socials={socials} />
</footer>
