---
import NavLink from "./NavLink.astro";

import type { NavMenuEntry } from "../cms/types";

type Props = {
  navMenu: NavMenuEntry[];
};

const { navMenu } = Astro.props;
---

<header class="w-full" id="header">
  <nav class="flex gap-4 py-8 items-center">
    {
      navMenu.map(({ name, link, prefetch }, i) => (
        <span class:list={[{ grow: i === 0 }]}>
          <NavLink href={link} rel={prefetch ? "prefetch" : null}>
            {name}
          </NavLink>
        </span>
      ))
    }
  </nav>
</header>
