---
import { Icon } from "astro-icon/components";

import type { Social } from "../cms/types";

type Props = {
  socials: Social[];
};

const { socials } = Astro.props;
---

<div class="flex flex-row gap-2 items-center md:gap-3 text-xl md:text-2xl">
  {
    socials.map((social) => (
      <a href={social.link} aria-label={social.name}>
        <span class="sr-only">
          {social.altText || `Follow me on ${social.name}`}
        </span>
        <Icon
          name={social.icon}
          class="hover:text-orange-500 text-gray-600 ease-in-out transition"
        />
      </a>
    ))
  }
</div>
